@model SmartOffice.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row" style="padding: 1%;">
        <dt class = "col-sm-3 viewTh backBlue">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-9 viewTd backWhite">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-3 viewTh backBlue">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-9 viewTd backWhite">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-3 viewTh backBlue">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-9 viewTd backWhite">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-3 viewTh backBlue">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9 viewTd backWhite">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3 viewTh backBlue">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-9 viewTd backWhite">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="cbtn cbtn-red" value="Delete" class="btn btn-danger" />
        <input type="button" class="cbtn cbtn-plain" value="Back to List" onclick="location.href='@Url.Action("Index", "ApplicationUser")'" />
    </form>
</div>
